<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="public/plugins/font-awesome/css/font-awesome.min.css">
  		<link rel="stylesheet" href="public/plugins/foundation/foundation.css" />
  		<link rel="stylesheet" href="public/plugins/foundation/normalize.css" />
  		<link rel=stylesheet href="public/styles/common.css">

		<script src="public/plugins/jquery/jquery.js"></script>
		<script src="public/plugins/jscolor/jscolor.min.js"></script>

	</head>
	<body class="home">
		<div class="body-wrapper">

			<!-- Content Section -->
			<div class="content-section">
				<div class="content-wrapper">
					<div class="content row">
						<div class="one-column small-12 columns">
							<h3 class="title">Iframe</h3>
						</div>
						<div class="one-column small-12 columns">
							<div class="main row" id="mainContent">
								This is an iframe. Send a message from the parent to see it updated here.
							</div>
						</div>

						<div class="one-column small-12 columns">
							<form class="row">
								<label>Message to Send:</label>
								<input id="sendText" />
								<label>Method to call on Parent:</label>
								<select id="method">
									<option value="set" selected>Change Text</option>
									<option value="log">Log to Console</option>
									<option value="alert">Alert</option>
								</select>
								<button id="iframe-btn">
									Send Message
								</button>
							</form>
						</div>
					
					</div>

				</div>
			</div>
		</div>
		
			<script src="public/js/iframe.js"></script>
			<script src="public/js/actions.js"></script>
	</body>
</html>

